<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('main.user', username=post.author.username) }}">
                <img src="{{ post.author.avatar(70) }}" />
            </a>
        </td>
        <td>
            {% set user_link %}
            <span class="user_popup">
                <a href="{{ url_for('main.user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
            </span>
            {% endset %}
            {{ _('%(username)s said %(when)s',
                username=user_link, when=moment(post.timestamp).fromNow()) }}
            <br>
            {{ post.body }}
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#{{ post.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Comments
                </a>
                <div class="collapse multi-collapse" id="{{ post.id }}">
                    <form action="{{ url_for('main.postComment',id=post.id) }}" method="POST" >
                        <p> {{ commentForm.hidden_tag() }} </p>
                        <p>
                            {{ commentForm.body(size=140)}}
                        </p>
                        <p>
                            {{ commentForm.submit() }}
                        </p>
                    </form>
                {% for comment in post.getComments() %}
                  {% include '_comments.html' %}
                {% endfor %}
            </div>
            </p>
        </td>
        {% if post.author == current_user %}
        {% if delform %}
        {% set form = delform %}
        {% endif %}
        <td width="70px">
            <form  action="{{  url_for('main.deletePost',id=post.id) }}" method="post" onsubmit="return confirm('Are you Sure? \nThis Post and the comments under it will be deleted.');">
                {{ form.hidden_tag() }}
                {{ form.submit(value=_('Delete'), class_='btn btn-default') }}
            </form>
        </td>
        {% endif %}
    </tr>
</table>



