{% extends 'bootstrap/base.html' %}
{% block head %}
{{ super() }}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
<link href="{{ url_for('static', filename='message.css')}}" type="text/css" rel="stylesheet">
{% endblock %}
{% block title %}
    {% if title %}{{ title }} - Microblog{% else %}{{ _('Welcome to Microblog') }}{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Microblog</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">{{ _('Home') }}</a></li>
                    <li><a href="{{ url_for('main.explore') }}">{{ _('Explore') }}</a></li>
                </ul>
                {% if g.search_form %}
                <form class="navbar-form navbar-left" method="get" action="{{ url_for('main.search') }}">
                    <div class="form-group">
                        {{ g.search_form.query(size=20, class='form-control', placeholder=g.search_form.query.label.text) }}
                    </div>
                </form>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('auth.login') }}">{{ _('Login') }}</a></li>
                    {% else %}
                    <li><a href="{{ url_for('main.user', username=current_user.username) }}">{{ _('Profile') }}</a></li>
                    <li>
                        <a href="{{ url_for('main.messages') }}">
                            {{ _('Messages') }}
                            {% set new_messages = current_user.new_messages() %}
                            <span id="message_count" class="badge"
                                  style="visibility: {% if new_messages %}visible
                                                     {% else %}hidden {% endif %};">
                                {{ new_messages }}
                            </span>
                        </a>
                    </li>
                    <li><a href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    <!--For date time-->
    {{ moment.lang(g.locale) }}
    <script>
        $(function () {
            var timer = null;
            var xhr = null;
            $('.user_popup').hover(
                function(event) {
                    // mouse in event handler
                    var elem = $(event.currentTarget);
                    timer = setTimeout(function() {
                        timer = null;
                        xhr = $.ajax(
                            '/user/' + elem.first().text().trim() + '/popup').done(
                                function(data) {
                                    xhr = null;
                                    elem.popover({
                                        trigger: 'manual',
                                        html: true,
                                        animation: false,
                                        container: elem,
                                        content: data
                                    }).popover('show');
                                    flask_moment_render_all();
                                }
                            );
                    }, 1000);
                },
                function(event) {
                    // mouse out event handler
                    var elem = $(event.currentTarget);
                    if (timer) {
                        clearTimeout(timer);
                        timer = null;
                    }
                    else if (xhr) {
                        xhr.abort();
                        xhr = null;
                    }
                    else {
                        elem.popover('destroy');
                    }
                }
            );
        });
        function set_message_count(n) {
            $('#message_count').text(n);
            $('#message_count').css('visibility', n ? 'visible' : 'hidden');
        }
        $(window).on('load',function(){
            if ( $('div').hasClass("active_chat") == false ) {
                $(".chat_list").first().attr('class', 'chat_list active_chat');
            }
        });
        $(document).ready(function(){
            $('body').on('click', '.chat_list', function(e){
                var t = $(this)
                e.preventDefault()
                if (t.data('requestRunning')){
                    return;
                }
                t.data('requestRunning', true)
                var uname = t.data('id')
                $.ajax( {
                    type:'POST',
                    url : "{{ url_for('main.messages')}}",
                    data:{'data':uname},
                    success:function(response)
                    { 
                        $('body').html(response);
                        $(`.chat_list[data-id='${uname}']`).attr('class', 'chat_list active_chat'); 
                    },
                    complete:function(){
                        t.data('requestRunning', false)
                    }
                }); 
            });
        });
        $(document).ready(function(){
            $('body').on('click', '#sendButton', function(e){
                var t = $(this)
                e.preventDefault()
                if (t.data('requestRunning')){
                    return;
                }
                t.data('requestRunning', true)

                var uname = $(".chat_list.active_chat").data("id")
                var text = $(".write_msg").val()
                $.ajax( {
                    type:'POST',
                    url : "{{ url_for('main.send_message')}}",
                    data:{'uname':uname,'data':text},
                    success:function(response)
                    { 
                        $('body').html(response);
                        $(`.chat_list[data-id='${uname}']`).attr('class', 'chat_list active_chat'); 
                    },
                    complete:function(){
                        t.data('requestRunning', false)
                    }
                });
            });
        });
    </script>
{% endblock %}
